# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Other
Video
note.txt
list_proxy.txt
cmd.txt
downloaded_files

# Cache
__pycache__/
**/__pycache__/

# Ignore node_modules directory in the client dashboard to avoid committing dependencies
/client/dashboard/node_modules

# Ignore build directory in the client dashboard to avoid committing build artifacts
/client/dashboard/build

# PER PYCACHE -> pyclean .